name: SmallRye Prepare Release

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      release-version:
        description: "Released Version"
        value: ${{ jobs.prepare-release.outputs.release-version }}
      next-version:
        description: "Next Version"
        value: ${{ jobs.prepare-release.outputs.next-version }}

permissions:
  contents: write
  issues: write

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    name: Prepare Release
    if: ${{github.event.pull_request.merged == true}}
    # Map the job outputs to step outputs
    outputs:
      release-version: ${{ steps.out.outputs.release-version }}
      next-version: ${{ steps.out.outputs.next-version }}

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        name: Create GitHub App Token
        with:
          app-id: ${{ vars.CI_APP_ID }}
          private-key: ${{ secrets.CI_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{steps.app-token.outputs.token}}

      - name: Configure Git author
        run: |
          git config --global user.name "SmallRye CI"
          git config --global user.email "smallrye@googlegroups.com"

      #      https://github.com/actions/create-github-app-token/issues/172
#      - name: Get GitHub App User ID
#        id: get-user-id
#        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
#        env:
#          GH_TOKEN: ${{ steps.app-token.outputs.token }}
#
#      - name: Configure Git author
#        run: |
#          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
#          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com>'


      - uses: radcortez/project-metadata-action@main
        name: Retrieve project metadata
        id: metadata
        with:
          github-token: ${{steps.app-token.outputs.token}}
          metadata-file-path: '.github/project.yml'
          local-file: true

      - name: Set environment variables
        run: |
          echo "CURRENT_VERSION=${{steps.metadata.outputs.current-version}}" >> $GITHUB_ENV
          echo "NEXT_VERSION=${{steps.metadata.outputs.next-version}}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'

      - name: Maven release ${{env.CURRENT_VERSION}}
        run: |
          mvn -B release:prepare -Prelease -Dgpg.skip=true -DreleaseVersion=${CURRENT_VERSION} -DdevelopmentVersion=${NEXT_VERSION} -DscmCommentPrefix="[skip ci] " -Drelease.arguments="-Dgpg.skip=true"
          mvn -B release:clean

      - name: Push changes to ${{github.base_ref}} branch and tag ${{env.CURRENT_VERSION}}
        run: |
          git push
          git push origin ${CURRENT_VERSION}

      - uses: radcortez/milestone-release-action@main
        name: milestone release
        with:
          github-token: ${{steps.app-token.outputs.token}}
          milestone-title: ${{steps.metadata.outputs.current-version}}
          milestone-next: ${{steps.metadata.outputs.next-version}}

      - name: Output release version
        id: out
        run: |
          echo "release-version=${CURRENT_VERSION}" >> $GITHUB_OUTPUT
          echo "next-version=${NEXT_VERSION}" >> $GITHUB_OUTPUT
